<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/footer.css">

    <script src="../js/bootstrap.js" defer></script>
    <title>Dynamic Website</title>
</head>

<body>

    {{>navbar}}

    <img class="hero-img" src="images/1.jpg" alt="">

    <div class="abt-sec py-5">

    

    <div class="container text-center">
        <h1 class="mb-5">About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo possimus quo dolore architecto similique deserunt placeat accusamus quod! Quae laboriosam nulla nihil qui possimus vitae deserunt ex ab quibusdam est tempore reiciendis soluta odit nesciunt dolores accusantium quas quasi veritatis necessitatibus, voluptatibus similique aperiam minus magni. Sapiente quidem consectetur voluptates cumque voluptas minima sint non tempora rem itaque enim porro corporis cupiditate, consequatur ratione? </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae suscipit repellendus id fugit, voluptatem, repellat molestiae accusantium, laudantium vitae a consequatur sit dicta hic ipsam optio numquam? Molestiae, pariatur blanditiis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae suscipit repellendus id fugit, voluptatem, repellat molestiae accusantium, laudantium vitae a consequatur sit dicta hic ipsam optio numquam? Molestiae, pariatur blanditiis!</p>
    </div>
</div>

{{>footer}}

</body>

</html>