<section class="my-5 about-section">
            <div class="container text-center">
                <h1>About Us</h1>
            </div>

            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
                        <figure>
                            <img class="img-fluid" src="images/1.jpg" alt="my image">
                        </figure>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 col-xxl-6 d-flex justify-content-center align-items-start flex-column">
                        <h3 class="mb-3">About Me</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt saepe cupiditate ut non. Nesciunt, sequi sunt? Excepturi, ullam accusamus. Explicabo rerum ab ullam blanditiis porro repellendus adipisci hic deserunt, soluta debitis dicta totam, nostrum sunt quos in vel aliquid, sed sapiente. Dolorem voluptas atque at cumque tempore, molestias facere neque placeat suscipit quia distinctio similique nihil possimus delectus, nesciunt, eaque porro esse cupiditate eligendi.</p>
                        <button class="btn btn-outline-info">Know More</button>
                    </div>
                </div>
            </div>

            <div class="container text-center mt-3">
                <button class="btn btn-info btn-lg">
                    Show Our Journey
                </button>
            </div>
        </section>