<section class="my-5 gallery-section">
	<div class="container text-center">
		<h1>Gallery</h1>
	</div>

	<div class="container mt-5">
		<div class="row">
			<div class="card-group">
				<div class="card">
					<img src="images/1.jpg" class="card-img-top" alt="..." />
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Blanditiis totam dicta ipsum dolor, inventore
							quasi, modi soluta eaque reiciendis illo perspiciatis laborum
							ratione qui numquam veniam libero quisquam quo quia maxime
							corrupti magni?</p>
						<button class="btn btn-success">
							Show
						</button>
					</div>
				</div>
				<div class="card">
					<img src="images/2.jpg" class="card-img-top" alt="..." />
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Nesciunt delectus harum eveniet cumque natus,
							qui ducimus officia adipisci possimus numquam, labore vel
							blanditiis magnam minima inventore rem quasi. Consectetur,
							molestias. Provident, adipisci minima.</p>
						<button class="btn btn-success">
							Show
						</button>
					</div>

				</div>
				<div class="card">
					<img src="images/3.jpg" class="card-img-top" alt="..." />
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Perferendis, tempore fugit? Error atque impedit
							architecto molestias unde, nemo sapiente ex mollitia quo. Rem
							voluptatibus, laudantium natus deleniti nobis laborum omnis.
							Recusandae, animi consectetur.</p>
						<button class="btn btn-success">
							Show
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="container text-center mt-3">
                <button class="btn btn-info btn-lg">
                    Show More
                </button>
            </div>
</section>